.header {
    text-align: center;
    height: 200 px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blanchedalmond;
}

.body {
    background-color: cadetblue;
}

#map { 
    height: 100%; 
}